{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <h2 class>Donations</h2>
    {% if donations %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for donation in donations %}
        <div class="col">
            <div class="card h-100">
                {% if donation.image %}
                <img src="{{ donation.image.url }}" class="card-img-top fixed-image" alt="{{ donation.title }}">
                {% else %}
                <img src="{% static 'images/icon.png' %}" class="card-img-top fixed-image" alt="No Image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ donation.title }}</h5>
                    <p class="card-text">Quantity: {{ donation.quantity }}</p>
                    <p class="card-text">Status: {{ donation.status }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-info">You haven't donated anything yet.</div>
    {% endif %}
</div>
{% endblock %}