body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e5fbf4;
}

h1,
h2,
h4 {
    color: #185040;
}

/* Button Styling */
.btn-success {
    background-color: #34bc91;
    border-color: #34bc91;
}

.btn-success:hover {
    background-color: #288e6e;
    border-color: #288e6e;
}

/* Main content */
.main-content {
    margin-top: 100px;
    width: 100%;
}

/* Navbar */
.navbar-custom {
    background-color: #34bc91;
    height: 65px;
}

.navbar-nav  {
    background-color: #34bc91;
}

.nav-item {
    margin-left: 1rem;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 65px;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #185040;
    color: white;
    padding-top: 1rem;
    transition: transform 0.3s ease;
    z-index: 1050;
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background-color: #288e6e;
}

/* Form Container Styling */
.form-card {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/* Input & Select Fields */
.form-card input,
.form-card select,
.form-card textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid #D3D3D3;
    font-size: 1rem;
    margin-top: 5px;
}

/* Labels */
.form-card label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: #185040;
}

/* Submit Button */
.form-card button {
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: #34bc91;
    border-color: #34bc91;
    color: white;
    padding: 10px;
    width: 100%;
}

.form-card button:hover {
    background-color: #288e6e;
    border-color: #288e6e;
}

/* Error messages */
.form-card .text-danger {
    font-size: 0.9rem;
    margin-top: 2px;
}

.fixed-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}