<div class="offcanvas offcanvas-start offcanvas-custom" data-bs-scroll="true" tabindex="-1" id="sidebarMenu"
    aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if user.role == 'Donor' %}
        <a class="nav-link" href="{% url 'donation:view_donation' %}"><i class="bi bi-search-heart"></i> Browse Donations</a>
        <a class="nav-link" href="{% url 'donation:donate_food' %}"><i class="bi bi-plus-square"></i> New Donation</a>
        <a class="nav-link" href="{% url 'donation:pending_request' %}"><i class="bi bi-envelope-open-heart"></i> Pending Requests</a>
        <a class="nav-link" href="{% url 'donation:my_donation' %}"><i class="bi bi-box2-heart"></i> My Donations</a>

        {% elif user.role == 'Recipient' %}
        <a class="nav-link" href="{% url 'donation:view_donation' %}"><i class="bi bi-search-heart"></i> Browse Donations</a>
        <a class="nav-link" href="{% url 'donation:track_request' %}"><i class="bi bi-geo-alt"></i> Track Request</a>
        <a class="nav-link" href="{% url 'donation:my_request' %}"><i class="bi bi-clock-history"></i> My Requests</a>
        
        {% elif user.role == 'Driver' %}
        <a class="nav-link" href="{% url 'delivery:available_delivery' %}"><i class="bi bi-truck"></i> Available Deliveries</a>
        <a class="nav-link" href="{% url 'delivery:active_delivery' %}"><i class="bi bi-geo-alt""></i> Track Delivery</a>
        <a class="nav-link" href="{% url 'delivery:my_delivery' %}"><i class="bi bi-list-check"></i> My Deliveries</a>
        
        {% elif user.role == 'Admin' %}
        {% elif user.is_superuser %}
        <a class="nav-link" href="/admin/"><i class="bi bi-universal-access"></i> Admin</a>
        <a class="nav-link" href="{% url 'donation:view_donation' %}"><i class="bi bi-search-heart"></i> Browse Donations</a> 
        {% endif %}
    </div>
</div>